.container .myBox {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.container .btn {
  background-color: #ffffff;
  color: #435072;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #435072;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and(max-width: 600px) {
  .myBox .btn {
    font-size: 10px !important;
  }
}
