.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnGroup button {
  position: absolute;
  z-index: 200;
  transform: scale(1.7);
}

.homePhoto {
  object-fit: "cover";
}
@media only screen and (max-width: 1000px) {
  .homePhoto {
    object-fit: contain;
  }
  .btnGroup button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
