.subheader {
  font-weight: 600;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  letter-spacing: 1px;
}
.questionBox {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}
.iconBox {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #455375;
  color: white;
}
.imageBox {
  width: 48%;
  max-width: 100%;
  margin: 0 10px;
}
@media (max-width: 600px) {
  .imageBox {
    width: 100%;
  }
}
